html {
  box-sizing: border-box;
  font-family: FontFamilyBody;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.8rem;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(#af67e9, #6565e7);
  min-height: 100vh;
  padding: 0 10px;
}
main {
  background-color: #ebebeb;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 380px;
  border-radius: 20px;
  box-shadow: 14px 17px 31px 0px rgba(80,89,80,0.75);
  padding: 0 10px;
}
.header {
  position: absolute;
  margin-top: -110px;
  right: 20px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 266px;
  height: 220px;
}
.header__main-illustration--wrapper {
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 90% 50%;
  background-position: bottom right;
  height: 210px;
}
.header__box-illustration {
  display: none;
}
.faq {
  padding-top: 100px;
  padding-bottom: 50px;
}
.faq__title {
  text-align: center;
  font-size: 4rem;
  color: #4a4b5e;
}
.faq__item {
  border-bottom: 1px solid #bbbbc3;
  max-width: 350px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
}
.faq__item:hover {
  background-color: #e4e4e4;
}
.faq__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4a4b5e;
}
.faq__item__header.active {
  font-weight: 700;
}
.faq__item__header__arrow {
  height: 10px;
}
.faq__item__header__arrow.active {
  transform: rotate(180deg);
}
.faq__item__content {
  color: #787887;
  display: none;
}
.faq__item__content__text {
  margin: 0 0 20px 0;
}
.faq__item__content.active {
  display: block;
}
@media screen and (min-width: 1000px) {
  main {
    display: grid;
    max-width: 800px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "image faq";
  }
  .header {
    position: relative;
    grid-area: image;
    margin: 0;
    height: 360px;
    width: auto;
    margin-top: 50px;
    z-index: 2;
  }
  .header__main-illustration--wrapper {
    overflow: hidden;
    background-size: 90% 40%;
    background-position-x: -30px;
    margin-left: -10px;
    height: 350px;
  }
  .header__main-illustration {
    margin-left: -50px;
  }
  .header__box-illustration {
    display: block;
    position: absolute;
    top: 100px;
    left: -103px;
  }
  .faq {
    grid-area: faq;
    padding-top: 0;
  }
  .faq__item {
    margin: 0;
    -webkit-user-select: none;
            user-select: none;
  }
  .faq__title {
    text-align: start;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .faq {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}
