veryDarkDesaturatedBlue = hsl(238, 29%, 16%)
softRed = hsl(14, 88%, 65%)
softViolet = hsl(273, 75%, 66%)
softVioletDarken = darken(softViolet, 75%)
softBlue = hsl(237, 12%, 33%)
veryDarlGrayishBlue = hsl(240, 6%, 50%)
lightGrayishBlue = hsl(240, 5%, 91%)
white = #EBEBEB

fwNormal = 400
fwBold = 700

ffPrimary = 'Kumbh Sans', sans-serif

spacingBig = 140px

shadow = 14px 17px 31px 0px rgba(176,176,176,0.75)